/* colors */
$darkBlue: #217093;
$medBlue: #4eb8dd;
$lightBlue: #ddf1fa;
$inputBG: #f3fafd;

.loginForm html {
  width: 100%;
  height: 100%;
}
.loginForm body {
  background-color: #eff3f4;
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
.loginForm form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  margin: 0;
  padding: 2.25em;
  box-sizing: border-box;
  border: solid 1px #ddd;
  border-radius: 0.5em;
  font-family: "Source Sans Pro", sans-serif;
  .svgContainer {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto 1em;
    border-radius: 50%;
    pointer-events: none;
    div {
      position: relative;
      width: 100%;
      height: 0;
      overflow: hidden;
      border-radius: 50%;
      padding-bottom: 100%;
    }
    .mySVG {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      width: inherit;
      height: inherit;
      box-sizing: border-box;
      border: solid 2.5px $darkBlue;
      border-radius: 50%;
    }
  }
  .inputGroup {
    margin: 0 0 2em;
    padding: 0;
    position: relative;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  label {
    margin: 0 0 12px;
    display: block;
    font-size: 1.25em;
    color: #217093;
    font-weight: 700;
    font-family: inherit;
  }
  input[type="email"],
  input[type="text"],
  input[type="number"],
  input[type="url"],
  input[type="search"],
  input[type="password"] {
    display: block;
    margin: 0;
    padding: 0 1em 0;
    padding: 0.875em 1em 0;
    background-color: $inputBG;
    border: solid 2px $darkBlue;
    border-radius: 4px;
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
    width: 100%;
    height: 65px;
    font-size: 1.55em;
    color: #353538;
    font-weight: 600;
    font-family: inherit;
    transition: box-shadow 0.2s linear, border-color 0.25s ease-out;
    &:focus {
      outline: none;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
      border: solid 2px $medBlue;
    }
  }
  .loginbtn button {
    display: block;
    margin: 0;
    padding: 0.65em 1em 1em;
    background-color: $medBlue;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: none;
    width: 100%;
    height: 65px;
    font-size: 1.55em;
    color: #fff;
    font-weight: 600;
    font-family: inherit;
    transition: background-color 0.2s ease-out;
    &:hover,
    &:active {
      background-color: $darkBlue;
    }
  }

  .inputGroup1 {
    .helper {
      position: absolute;
      z-index: 1;
      font-family: inherit;
    }
    .helper1 {
      top: 0;
      left: 0;
      transform: translate(1em, 2.2em) scale(1);
      transform-origin: 0 0;
      color: $darkBlue;
      font-size: 1.55em;
      font-weight: 400;
      opacity: 0.65;
      pointer-events: none;
      transition: transform 0.2s ease-out, opacity 0.2s linear;
    }

    &.focusWithText .helper {
      transform: translate(1em, 1.55em) scale(0.6);
      opacity: 1;
    }
  }
  .inputGroup2 {
    input[type="password"] {
      padding: 0.4em 1em 0.5em;
    }
    input[type="text"] {
      padding: 0.025em 1em 0;
    }
    #showPasswordToggle {
      display: block;
      padding: 0 0 0 1.45em;
      position: absolute;
      top: 0.25em;
      right: 0;
      font-size: 1em;
      input {
        position: absolute;
        z-index: -1;
        opacity: 0;
      }
      .indicator {
        margin-top: 0.3rem;
        position: absolute;
        top: 0;
        left: 0;
        height: 0.85em;
        width: 0.85em;
        background-color: $inputBG;
        border: solid 2px $darkBlue;
        border-radius: 3px;
        &:after {
          content: "";
          position: absolute;
          left: 0.25em;
          top: 0.025em;
          width: 0.2em;
          height: 0.5em;
          border: solid $darkBlue;
          border-width: 0 3px 3px 0;
          transform: rotate(45deg);
          visibility: hidden;
        }
      }
      input:checked ~ .indicator {
        &:after {
          visibility: visible;
        }
      }
      input:focus ~ .indicator,
      input:hover ~ .indicator {
        border-color: $medBlue;
      }
      input:disabled ~ .indicator {
        opacity: 0.5;
        &:after {
          visibility: hidden;
        }
      }
    }
  }
}



/* Hide the default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 25px;
  user-select: none;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background: black;
  border-radius: 50px;
  transition: all 0.7s;
  --spread: 20px;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background: black;
  box-shadow: -10px -10px var(--spread) 0px #5b51d8,
    0 -10px var(--spread) 0px #833ab4, 10px -10px var(--spread) 0px #e1306c,
    10px 0 var(--spread) 0px #fd1d1d, 10px 10px var(--spread) 0px #f77737,
    0 10px var(--spread) 0px #fcaf45, -10px 10px var(--spread) 0px #ffdc80;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
  margin-top: 0.2rem;
  margin-left: 0.1rem;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border: solid #f0f0f0;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

.rememberMe {
  display: flex;
}

.forget-password {
  font-size: 14px;
  font-weight: 700;
  color: #2879f3;
  text-decoration: none;
  padding-top: 0.1rem;
  margin-left: 3rem;
}

.forget-password:hover {
  text-decoration: underline;
  color: #bd4a4a;
}

.centeredButton {
  display: flex;
  justify-content: center;
  margin-top: -23rem;
  margin-bottom: 3rem;
  flex-direction: column;
  align-items: center;
}

/* DEOXY Was Here */
.forms {
  --background: #d3d3d3;
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  padding: 20px;
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

.separator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.separator > div {
  width: 100px;
  height: 3px;
  border-radius: 5px;
  background-color: var(--font-color-sub);
}

.separator > span {
  color: var(--font-color);
  font-family: var(--font-SpaceMono);
  font-weight: 600;
}

.oauthButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  /* margin: 50px auto 0 auto; */
  padding: auto 15px 15px auto;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 16px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
  transition: all 250ms;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.oauthButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.oauthButton:hover {
  color: #e8e8e8;
}

.oauthButton:hover::before {
  width: 100%;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.otherSginInOptions {
  justify-content: center;
  display: flex;
}

.facebookIcon:hover svg path {
  fill: white;
}
