$font: "Sofia", sans-serif;
$font-size: 16px;
$blue: #0a4870;
$blue2: #e3ebf1;
$black: #000;
$grey: #7d7d7d;
$grey2: #f0f0f0;
$grey3: #e8e7e7;
$grey4: #fdfdfd;
$bluegrey: #49606e;

.maincardclass {
  @mixin radius($val) {
    -webkit-border-radius: $val;
    -moz-border-radius: $val;
    border-radius: $val;
  }

  @mixin cardsOpen() {
    &::before {
      background: rgba(10, 72, 112, 0.6);
    }
    .book-container {
      .content {
        opacity: 1;
        display: flex;
    flex-direction: column;
        transform: translateY(0px);
      }
    }

    .informations-container {
      transform: translateY(0px);
      .more-information {
        opacity: 1;
      }
    }
  }

  * {
    margin: 0;
    padding: 0;

    font-family: $font;
  }

  h2 {
    color: #0a4870;
    font-weight: 500;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;

    .booking-card {
      position: relative;
      width: 300px;
      display: flex;
      flex: 0 0 300px;
      flex-direction: column;

      margin: 20px;
      margin-bottom: 30px;
      @include radius(10px);

      overflow: hidden;

      background-position: center center;
      background-size: cover;

      text-align: center;
      color: $blue;

      transition: 0.3s;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background: rgba(10, 72, 112, 0);

        transition: 0.3s;
      }

      .book-container {
        height: 150px;
        .content {
          position: relative;
          opacity: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 100%;

          transform: translateY(-200px);

          transition: 0.3s;

          .btn {
            border: 3px solid white;
            padding: 10px 15px;

            background: none;

            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.3em;
            color: #47f252;

            cursor: pointer;

            transition: 0.3s;

            &:hover {
              background: white;

              border: 0px solid white;

              color: $blue;
            }
          }
        }
      }

      .informations-container {
        flex: 1 0 auto;

        padding: 20px;

        background: $grey2;

        transform: translateY(206px);

        transition: 0.3s;

        .title {
          position: relative;

          padding-bottom: 10px;
          margin-bottom: 10px;

          font-weight: bold;
          font-size: 1.2em;

          &::after {
            content: "";

            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            height: 3px;
            width: 50px;

            margin: auto;

            background: $blue;
          }
        }

        .price {
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 800;

          margin-top: 10px;

          .icon {
            margin-right: 10px;
          }
        }

        .more-information {
          opacity: 0;

          transition: 0.3s;
          .info-and-date-container {
            display: flex;

            .box {
              flex: 1 0;

              padding: 15px;
              margin-top: 20px;
              @include radius(10px);

              background: white;

              font-weight: bold;
              font-size: 0.9em;

              .icon {
                margin-bottom: 5px;
              }

              &.info {
                color: $black;

                margin-right: 10px;
              }
            }
          }
          .disclaimer {
            margin-top: 20px;

            font-size: 0.8em;
            color: $grey;
          }
        }
      }

      &:hover {
        @include cardsOpen();
      }
    }
    @media screen and (max-width: 400px){
      .booking-card {
        width: 250px;
        flex: 0 0 250px;
    }
  }
  }

  @media (max-width: 100px) {
    ul {
      .booking-card {
        @include cardsOpen();
      }
    }
  }

  .credits {
    display: table;
    background: $blue;
    color: white;
    line-height: 25px;

    margin: 10px auto;
    padding: 20px;

    @include radius(10px);

    text-align: center;

    a {
      color: $blue2;
    }
  }

  h1 {
    margin: 10px 20px;
  }
  
  .ui-bookmark {
    --icon-size: 24px;
    --icon-secondary-color: white;
    --icon-hover-color: rgb(97, 97, 97);
    --icon-primary-color: gold;
    --icon-circle-border: 1px solid var(--icon-primary-color);
    --icon-circle-size: 35px;
    --icon-anmt-duration: 0.3s;
  }
  
  .ui-bookmark input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
    
  }
  
  .ui-bookmark .bookmark {
    width: var(--icon-size);
    height: auto;
    fill: var(--icon-secondary-color);
    cursor: pointer;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    margin-top: 1rem;
  }
  
  .bookmark::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    -webkit-box-shadow: 0 30px 0 -4px var(--icon-primary-color),
      30px 0 0 -4px var(--icon-primary-color),
      0 -30px 0 -4px var(--icon-primary-color),
      -30px 0 0 -4px var(--icon-primary-color),
      -22px 22px 0 -4px var(--icon-primary-color),
      -22px -22px 0 -4px var(--icon-primary-color),
      22px -22px 0 -4px var(--icon-primary-color),
      22px 22px 0 -4px var(--icon-primary-color);
    box-shadow: 0 30px 0 -4px var(--icon-primary-color),
      30px 0 0 -4px var(--icon-primary-color),
      0 -30px 0 -4px var(--icon-primary-color),
      -30px 0 0 -4px var(--icon-primary-color),
      -22px 22px 0 -4px var(--icon-primary-color),
      -22px -22px 0 -4px var(--icon-primary-color),
      22px -22px 0 -4px var(--icon-primary-color),
      22px 22px 0 -4px var(--icon-primary-color);
    border-radius: 50%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  
  .bookmark::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: var(--icon-circle-border);
    opacity: 0;
  }
  
  
  /* actions */
  
  .ui-bookmark:hover .bookmark {
    fill: var(--icon-hover-color);
  }
  
  .ui-bookmark input:checked + .bookmark::after {
    -webkit-animation: circles var(--icon-anmt-duration)
      cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    animation: circles var(--icon-anmt-duration)
      cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    -webkit-animation-delay: var(--icon-anmt-duration);
    animation-delay: var(--icon-anmt-duration);
  }
  
  
  .ui-bookmark input:checked + .bookmark {
    fill: var(--icon-primary-color);
    -webkit-animation: bookmark var(--icon-anmt-duration) forwards;
    animation: bookmark var(--icon-anmt-duration) forwards;
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  
  .ui-bookmark input:checked + .bookmark::before {
    -webkit-animation: circle var(--icon-anmt-duration)
      cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    animation: circle var(--icon-anmt-duration)
      cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    -webkit-animation-delay: var(--icon-anmt-duration);
    animation-delay: var(--icon-anmt-duration);
  }
  
  @-webkit-keyframes bookmark {
    50% {
      -webkit-transform: scaleY(0.6);
      transform: scaleY(0.6);
    }
  
    100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }
  }
  
  @keyframes bookmark {
    50% {
      -webkit-transform: scaleY(0.6);
      transform: scaleY(0.6);
    }
  
    100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }
  }
  
  @-webkit-keyframes circle {
    from {
      width: 0;
      height: 0;
      opacity: 0;
    }
  
    90% {
      width: var(--icon-circle-size);
      height: var(--icon-circle-size);
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  
  @keyframes circle {
    from {
      width: 0;
      height: 0;
      opacity: 0;
    }
  
    90% {
      width: var(--icon-circle-size);
      height: var(--icon-circle-size);
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  
  @-webkit-keyframes circles {
    from {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  
    40% {
      opacity: 1;
    }
  
    to {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
      opacity: 0;
    }
  }
  
  @keyframes circles {
    from {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  
    40% {
      opacity: 1;
    }
  
    to {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
      opacity: 0;
    }
  }


 

}


  

